<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TheLeftOvers</title>
    <link rel="stylesheet" href="~/css/GodStyle.css" />
</head>
<body>
    <header>
        <nav>
                <div class="nav">
                    <ul>
                        <li>
                            <a asp-area="" asp-page="/Index">Hjem</a>
                        </li>
                        <li>
                            <a asp-area="" asp-page="/Products">Produkter</a>
                        </li>
                        <li>
                            <a asp-area="" asp-page="/Settings">Indstillinger</a>
                        </li>
                    </ul>
                </div>
        </nav>
    </header>
    <div>
        <main>
            @RenderBody()
        </main>
    </div>

    <footer>
        <div>
        </div>
    </footer>
</body>
</html>
