@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
    <div align="center">
        <h1 style="text-align:center">Velkommen</h1>
        <p style="text-align:center">Denne hjemmeside er en work in progress.</p>
    </div>