@page
@model TheLeftOvers.Pages.ProductsModel
@{
    ViewData["Title"] = "Products";
}

<h1 style="text-align:center">Produkter</h1>
<div align="center">
    <div style="border-style:ridge; height: 300px; width:700px;">
        <h1 style="text-align:center">Plumbus</h1>
        <p style="text-align:center">Dette produkt kan hjælpe dig med din læse- og skrivevanskeligheder</p>
        <p style="text-align:center"><img src="http://pm1.narvii.com/6466/2bd0979165f8de9c5cc6dbc2b5d4e8d257d5580b_hq.jpg" height="100" width="120" /></p>
    </div>
    <div style="border-style: ridge; height: 300px; width: 700px;">
        <h1 style="text-align: center">Fake-Doors</h1>
        <p style="text-align: center">Dette produkt kan hjælpe dig med din læse- og skrivevanskeligheder</p>
        <p style="text-align:center"><img src="https://i.ytimg.com/vi/ogqekP0aKwE/maxresdefault.jpg" height="100" width="120" /></p>
    </div>
    <div style="border-style: ridge; height: 200px; width: 700px;">
        <h1 style="text-align: center">Kampagne</h1>
        <p style="text-align:center"><img src="https://vignette.wikia.nocookie.net/rickandmorty/images/8/83/Screenshot_68.png/revision/latest/scale-to-width-down/224?cb=20160919050229" height="100" width="500" /></p>
    </div>

</div>