@page
@model TheLeftOvers.Pages.AccountModel
@{
    ViewData["Title"] = "Settings";
}

<h1 style="text-align:center">Konto Indstillinger</h1>
<div align="center">
    <div style="border-style:ridge; height: 700px; width:700px;">
        <h1 style="text-align:center">Dine kontoindstillinger</h1>

    <form action="/action_page.php">
        Fornavn: <input type="text" name="fname"><br>

        Efternavn: <input type="text" name="lname"><br>

        E-mail: <input type="text" name="Email"><br>

        Telefon: <input type="text" name="Telephone"><br>

        <input type="submit" value="Gem">
    </form>
    </div>
</div>

